.login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.login__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dcdcdc;
    padding: 30px;
}

.login__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}

.login__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: black;
    border-radius: 2.5px 2.5px 2.5px 2.5px;
}

.login__google {
        background-color: #0AA3C2;
}

.login__btn:hover {
    background-color: #e7175f;
}

.login div {
margin-top: 7px;
}