/* #reservationForm, .row, .column, ul, li {
    border: 1px solid red;
} */

.row {
    display: flex;
}

.column {
    flex: 33.333%;
    height: auto;
    min-height: 55vh;
    margin-bottom: 50px;
}

#reservation-list {
    height: 200px;
    overflow-y: scroll;
    overflow-x:hidden;
    margin-bottom: 50px;
}

ul {
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
    text-align: center;
    margin-bottom: 50px;
}

li {
    text-align: left;
}

/* Hide cancel button on Home page; NOT on User dash */
#reservation-list #cancelButton {
    display: none;
}