#reservation {
    background-color: #0F355E;
    color: white;
    padding: 25px;
    margin: 25px;
    box-shadow: 10px 10px #E80F5E;
}

#cancelButton {
    background-color: #0AA3C2;
}

#cancelButton:hover {
    background-color: red;
}