.dashboard__column {
  flex: 50%;
  height: 75vh;
  overflow-y: scroll;
  overflow-x:hidden;
  border: hidden;
}

.logout-column {
  position: relative;

}

.dashboard__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0F355E;
  color: white;
  padding: 20px;
  width: 50%;
  height: auto;

  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(45%);

  word-break: break-all;
  
  box-shadow: 10px 10px #F7B400;
  }

.dashboard__btn {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border-radius: 2.5px 2.5px 2.5px 2.5px;
  border: none;
  color: white;
  background-color: #0AA3C2;
  }

  .dashboard__btn:hover {
    background-color: #e7175f;
  }