.dashboard {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 5px dotted green;
  }

.dashboard__column {
  flex: 50%;
  height: 60vh;
  overflow-y: scroll;
  overflow-x:hidden;
  border: 5px dashed red;
}

.dashboard__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #0F355E;
  color: white;
  padding: 30px;
  width: 50%;
  margin-left: 100px;
  box-shadow: 10px 10px #F7B400;
  }

.dashboard__btn {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border: none;
  color: white;
  background-color: #0AA3C2;
  }

.dashboard div {
  margin-top: 7px;
  }