.app, header, footer {
  border: 1px solid red;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  text-align: center;
  font-family: 'Open Sans';
}

#adaLogo {
  max-width: 150px;
  padding: 5px;
}

header {
  display: flex;
  justify-content: left;
}

main {
  position: relative;
}

main ul {
  list-style-type: none;
}

footer {
  background-color: #0F355E;
  color: white;
  font-size: smaller;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 5px;
}