.App {
  font-family: 'Open Sans';
}

main, footer {
  text-align: center;
}

p {
  font-size: larger;
  font-weight: bolder;
}

#adaLogo {
  max-width: 175px;
  padding: 10px;
}

#ada-pic {
  height: 300px;
}

.navBar {
  background-color: white;
}

#nav-mobile li a {
  font-weight: bold;
  color: #0AA3C2;
}

#nav-mobile li a:hover {
  color:#E80F5E;
}

footer {
  background-color: #0F355E;
  color: white;
  font-size: smaller;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 5px;
}
