.App {
  font-family: 'Open Sans';
}

main, footer {
  text-align: center;
}

p {
  font-size: larger;
  font-weight: bolder;
}

#adaLogo {
  max-width: 175px;
  margin: 0;
  margin-left: 15px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#ada-pic {
  height: 300px;
}

.nav-wrapper {
  height: auto;
  position: relative;
}

.navBar {
  background-color: white;
  margin-bottom: 3%;
}

#nav-mobile {
  margin-right: 25px;
}

#nav-mobile li a {
  font-weight: bold;
  font-size: larger;
  color: #0AA3C2;
}

#nav-mobile li a:hover {
  color:#E80F5E;
}

.page-footer {
  background-color: #0F355E;
  color: white;
  font-size: small;
}

.page-footer,
.footer-copyright,
.footer-container {
  top: 50%;
}
